/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */


/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Museo;
    src: url("../resources/museo_sans_500.otf") format("opentype");
}
@font-face {
    font-family: CatFox;
    src: url("../resources/fox_and_cat.otf") format("opentype");
}
@font-face {
    font-family: PrimeLight;
    src: url("../resources/prime_light.otf") format("opentype");
}

// reset
html { box-sizing: border-box; font-size: 10px; }
*, *:before, *:after { box-sizing: inherit; }
body, ul, li  { margin: 0; padding: 0; }
li { list-style: none; }
p, h1, h2, h3, h4, h5, h6 { margin-top: 0; }
a { text-decoration: none; }
input { border-style: none; background: transparent; outline: none; }
button { padding: 0; background: none; border: none; outline: none; }

// some basic page styles
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-image: radial-gradient(circle at 0% 0%, #373b52, #252736 51%, #1d1e26);
}

:root {
  --sea-green-1: #17b49f;
  --sea-green-2: #16a085;
  --sea-green-3: #279f94;
  --light-red: #f8bfbf;
  --dark-red: #952b2b;
  --light-green: #b9f8bf;
}