.left-nav{
  z-index: 30;
  position: absolute;
  width: 250px;
  height: 100%;
  display:none;
  background-color: white;
  opacity: 1;
}
.left-nav-button{
  cursor: pointer;
  display:block;
  width: 170px;
  margin-left:auto;
  margin-right:auto;
  margin-top: 5px;
  background-color: var(--sea-green-3);
  padding-left:15px;
  padding-right:5px;
  padding-top:10px;
  padding-bottom:10px;
  color: white;
  border-radius: 2px;
  font-family: Museo;
}
.left-nav-button:hover{
  background-color: var(--sea-green-1);
}
.left-nav-logo{
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-top: 25px;
  margin-bottom: 25px;
  height: 128px;
  width: 128px;
}
.left-nav-hamburger {
  position: absolute;
  z-index: 20;
  border-radius: 10px;
  background: #0d7165;
  top:15px;
  left:15px;
}
.left-nav-back {
  margin-top: 20px;
  /*position: absolute;
  bottom:35px;
  left:auto;
  right:auto;*/
}
